.dashboard {
    padding: 20px;
  }
  
  .chartsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .chart {
    width: 45%;
    margin: 20px;
  }
  
  .chartFullWidth {
    width: 90%;
    margin: 20px;
  }
  